#languages-edit-wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  gap: var(--space-xl);
  background-color: var(--color-gray-050-o-40);
  padding: var(--space-m);
}

/* Basic style for all children */
#languages-edit-wrapper .language-edit-fields {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
}

/* If there are exactly two children */
#languages-edit-wrapper > .language-edit-fields:nth-child(1):nth-last-child(2),
#languages-edit-wrapper > .language-edit-fields:nth-child(2):nth-last-child(1) {
  width: calc(100% - var(--space-xl)/2);
}

/* If three or more children are present */
#languages-edit-wrapper > .language-edit-fields:nth-child(1):nth-last-child(n+3),
#languages-edit-wrapper > .language-edit-fields:nth-child(n+3):nth-last-child(1),
#languages-edit-wrapper > .language-edit-fields:nth-child(n+2):nth-last-child(2),
#languages-edit-wrapper > .language-edit-fields:nth-child(n+1):nth-last-child(n+3) {
  width: calc(100% - var(--space-xl)*2/3);
}

@media (min-width: 1024px) {
  #languages-edit-wrapper {
    flex-direction: row;
  }

  /* If there are exactly two children */
  #languages-edit-wrapper > .language-edit-fields:nth-child(1):nth-last-child(2),
  #languages-edit-wrapper > .language-edit-fields:nth-child(2):nth-last-child(1) {
    width: calc(80% - var(--space-xl)/2);
  }

  /* If three or more children are present */
  #languages-edit-wrapper > .language-edit-fields:nth-child(1):nth-last-child(n+3),
  #languages-edit-wrapper > .language-edit-fields:nth-child(n+3):nth-last-child(1),
  #languages-edit-wrapper > .language-edit-fields:nth-child(n+2):nth-last-child(2),
  #languages-edit-wrapper > .language-edit-fields:nth-child(n+1):nth-last-child(n+3) {
    width: calc(70% - var(--space-xl)*2/3);
  }
}

@media (min-width: 1280px) {
  /* If there are exactly two children */
  #languages-edit-wrapper > .language-edit-fields:nth-child(1):nth-last-child(2),
  #languages-edit-wrapper > .language-edit-fields:nth-child(2):nth-last-child(1) {
    width: calc(70% - var(--space-xl)/2);
  }

  /* If three or more children are present */
  #languages-edit-wrapper > .language-edit-fields:nth-child(1):nth-last-child(n+3),
  #languages-edit-wrapper > .language-edit-fields:nth-child(n+3):nth-last-child(1),
  #languages-edit-wrapper > .language-edit-fields:nth-child(n+2):nth-last-child(2),
  #languages-edit-wrapper > .language-edit-fields:nth-child(n+1):nth-last-child(n+3) {
    width: calc(60% - var(--space-xl)*2/3);
  }
}

@media (min-width: 1920px) {
  /* If there are exactly two children */
  #languages-edit-wrapper > .language-edit-fields:nth-child(1):nth-last-child(2),
  #languages-edit-wrapper > .language-edit-fields:nth-child(2):nth-last-child(1) {
    width: calc(50% - var(--space-xl)/2);
  }

  /* If three or more children are present */
  #languages-edit-wrapper > .language-edit-fields:nth-child(1):nth-last-child(n+3),
  #languages-edit-wrapper > .language-edit-fields:nth-child(n+3):nth-last-child(1),
  #languages-edit-wrapper > .language-edit-fields:nth-child(n+2):nth-last-child(2),
  #languages-edit-wrapper > .language-edit-fields:nth-child(n+1):nth-last-child(n+3) {
    width: calc(40% - var(--space-xl)*2/3);
  }
}

#languages-edit-wrapper .language-edit-fields::after {
  content: '';
  position: absolute;
  left: calc(-1.5rem + 1px);
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--color-gray-200);
}

.scroll-box-description {
  display: flex;
  margin-top: .5rem;
  width: 100%;
}

@media (min-width: 992px) {
  .scroll-box-description {
    width: 50%;
  }
}

.info-message {
  padding: var(--space-m);
  margin-bottom: var(--space-m);
  background-color: var(--color-gray-050-o-40);
  font-weight: bold;
}

.info-message-unsaved-changes-will-be-reset,
.info-message-administer-site-configuration {
  display: block;
}

.success-message-language-name-display-block {
  display: block;
  margin-top: var(--space-m);
}
